#build
build/*

#npm stuff
node_modules/*
package*.json

#general stuff
index.php

#translations?
languages/
build/blocks/contact-form/block.json
build/blocks/contact-form/index.asset.php
build/blocks/contact-form/index.css
build/blocks/contact-form/index.js
